.sidenav {
  width: 100%;
  max-width: 180px;
  background-color: #F7F8F9;
  overflow-x: hidden;
  padding-left: 20px;
  margin-top: 40px;
  padding-bottom: 20px;
  float: left;
  
  &-filterBlock {
    font-size: 12px;
    margin-top: 20px;
    
    &-title {
      font-weight: 400;
      font-size: 15px;
      color: #1E1E1E;
    }
    &-components {
      max-height: 180px;
      overflow: hidden;
      line-height: 20px;
    }
    &-item {
      font-size: 12px;
      cursor: pointer;
    }
    &-item:hover {
      text-decoration: underline;
    }
  }
}

.active-filters {
  color: #5383d3;
  margin-top: 15px;
  
  &-item {
    color: black;
    margin: 5px;
  }
  
  &-remove-button {
    color: red;
    font-size: 13px;
  }
}

