.book-name {
  font: normal 35px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

.book-author {
  font: normal 20px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

.font {
  font: normal 14px Cookie, Arial, Helvetica, sans-serif;
}

.font span {
  line-height: 22px;
}

.details {
  color: #5383d3;
  margin-right: 10px;
  font-weight: bold;
}

.thumbnail {

  margin-top: 30px;
  height: 300px;
  width: 200px;
}

.description {
  display: block;
  width: 500px;
}