.sidenav {
  width: 160px;
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: #c8dbeb;
  overflow-x: hidden;
  padding-left: 20px;
  margin-top: 200px;
  margin-right: 20px;
  border-left: solid;
  padding-bottom: 20px;
}

.title{
  font: normal 20px Cookie, Arial, Helvetica, sans-serif;
  padding-top: 5px;
  margin: 0;
}

.filter-block{
  font: normal 12px Cookie, Arial, Helvetica, sans-serif;
}

.filter-block span{
  font-size: 16px;
  color: #5383d3;
}
.active-filters{
  color: #5383d3;
  position:absolute;
  margin-top: 70px;
}

.active-filters span{
  color: black;
  margin: 5px;
}

.active-filters span a{
  color:red;
  font-size: 13px;
}
