<div class="content-child">
    <h1 class="title">Edit your account</h1>

    <form name='edit.form' ng-submit="edit.updateUser()" novalidate>
        First Name:
        </br>
        <input class='inputd' type="input" name='firstName' placeholder="First Name"
               ng-model="edit.data.firstName" required/>
        </br>
        <span ng-show="edit.form.$submitted || edit.form.firstName.$touched">
            <span class='error' ng-show="edit.form.firstName.$error.required">Insert First Name</span>
        </span>
        </br>
        Last Name:
        </br>
        <input class='inputd' type="input" name='lastName' placeholder="Last Name"
               ng-model="edit.data.lastName" required/>
        </br>
        <span ng-show="edit.form.$submitted || edit.form.lastName.$touched">
            <span class='error' ng-show="edit.form.lastName.$error.required">Insert Last Name</span>
        </span>
        </br>
        Email:
        </br>
        <input class='inputd' type="email" name='input' placeholder='username@example.com'
               ng-model="edit.data.email" required/>
        </br>
        <span ng-show="edit.form.$submitted || edit.form.input.$touched">
            <span class='error' ng-show="edit.form.input.$error.required">Insert email</span>
        <span class="error" ng-show="edit.form.input.$error.email">Not valid email!</span>
        </span>
        </br>
        </br>
        <input type="button" ui-sref='updatePassword' value="Change Password"/>
        <input type="submit" value="Save"/>
        <span style="font-size: 12px">{{edit.updateMessage}} </span>
    </form>
</div>