<h1 class="content-title">Forgot your password? </h1>

<div>Enter your email address and we'll send you instructions to reset your password</div>
<form name='forgot.form' ng-submit="forgot.requestPasswordResetToken()" novalidate>

    <div>
        <div class="input-label">Email:</div>
        <input class='input' type="email" name='input' placeholder='username@example.com'
               ng-model="forgot.credentials.email" required/>
        <div class='error' ng-if="forgot.form.$submitted && forgot.form.input.$invalid"
             ng-messages="forgot.form.input.$error">
            <span ng-message when="required">Insert email</span>
            <span ng-message when="email">Not valid email!</span>
        </div>
    </div>

    <input class="btn btn-default btn-auth" type="submit" value="Send"/>

</form>