<h1>Forgot your password? </h1>

<div>Enter your email address and we'll send you instructions to reset your password</div>
<form name='forgot.form' ng-submit="forgot.requestPasswordResetToken()" novalidate>
    </br>
    </br>
    Email:
    </br>

    <input class='inputd' type="email" name='input' placeholder='username@example.com'
           ng-model="forgot.credentials.email" required/>
    </br>
    <span ng-show="forgot.form.$submitted || forgot.form.input.$touched">
        <span class='error' ng-show="forgot.form.input.$error.required">Insert email</span>
        <span class="error" ng-show="forgot.form.input.$error.email">Not valid email!</span>
        </span>
    </br>
    <input type="submit" value="Send"/>

</form>