<div class="content">
    <form name='login.log' ng-submit="login.login()" novalidate>
        Email:
        </br>
        <input class='inputd' type="email" name='input' placeholder='username@example.com' ng-model="login.credentials.email" required />
        <span ng-show="login.log.$submitted || login.log.input.$touched">
        </br>
            <span class='error' ng-show="login.log.input.$error.required" >Insert email</span>
        <span class="error" ng-show="login.log.input.$error.email">Not valid email!</span>
        </span>
        </br>
        </br>
        Password:
        </br>
        <input class='inputd' type="password" name='password' placeholder="Password" ng-model="login.credentials.password" required/>
        <span ng-show="login.log.$submitted || login.log.password.$touched">
        </br>
            <span class='error' ng-show="login.log.password.$error.required" >Insert password</span>
        </span>
        </br>
        </br>
        <input type="submit" value="Login" />
    </form>
</div>
