<div class="content-child">
    <form name='resetPassword.form' ng-submit="resetPassword.resetPassword()" novalidate>
        New Password:
        </br>
        <input class='inputd' type="password" name='newPassword' placeholder="New Password"
               ng-model="resetPassword.credentials.newPassword" required/>
        <span ng-show="resetPassword.form.$submitted || resetPassword.form.newPassword.$touched">
            <span class='error' ng-show="resetPassword.form.newPassword.$error.required">Insert new password</span>
        </span>
        </br>
        Confirm Password:
        </br>
        </br>
        <div ng-class="{'has-error':!resetPassword.form.confirmPassword.$valid}">
            <input class='inputd' type="password" name='confirmPassword' placeholder="Confirm Password"
                   ng-model="resetPassword.confirmPassword" required password-confirmation match-target="resetPassword.credentials.newPassword"/>
            </br>
            <div ng-show="resetPassword.form.$submitted || resetPassword.form.confirmPassword.$touched">
                <div class="error" ng-show="resetPassword.form.confirmPassword.$error.required">Insert confirmation password</div>
                <div class="error" ng-show="resetPassword.form.confirmPassword.$error.match">Password confirmation must match
                    password
                </div>
            </div>
        </div>
        </br>
        <input type="submit" value="Reset password"/>
        </br>
    </form>
</div>