<div>
  <form name='resetPassword.form' ng-submit="resetPassword.resetPassword()" novalidate>
    <div>
      <div class="input-label">New Password:</div>
      <input class='input' type="password" name='newPassword' placeholder="New Password"
             ng-model="resetPassword.credentials.newPassword" required/>
      <div class='error' ng-if="resetPassword.form.$submitted && resetPassword.form.newPassword.$invalid"
           ng-messages="resetPassword.form.newPassword.$error">
        <span ng-message when="required">Insert new password</span>
      </div>
    </div>
    
    <div>
      <div class="input-label">Confirm Password:</div>
      <div ng-class="{'has-error':!resetPassword.form.confirmPassword.$valid}">
        <input class='input' type="password" name='confirmPassword' placeholder="Confirm Password"
               ng-model="resetPassword.confirmPassword" required password-confirmation
               match-target="resetPassword.credentials.newPassword"/>
        <div class="error" ng-if="resetPassword.form.$submitted && resetPassword.form.confirmPassword.$invalid"
             ng-messages="resetPassword.form.confirmPassword.$invalid">
          <div ng-message when="required">Insert confirmation password</div>
          <div ng-message when="match">Password confirmation must match password</div>
        </div>
      </div>
    </div>
    
    <input class="btn btn-default btn-auth" type="submit" value="Reset password"/>
  
  </form>
</div>