<div>
  <h1 class="content-title">Change your password</h1>
  
  <form name='update.form' ng-submit="update.updatePassword()" novalidate>
    <div>
      <div class="input-label">Old Password:</div>
      <input class='input' type="password" name='oldPassword' placeholder="Old Password"
             ng-model="update.oldPassword" required/>
      <div class='error' ng-if="update.form.$submitted && update.form.oldPassword.$invalid"
           ng-messages="update.form.oldPassword.$error">
        <span ng-message when="required">Insert old password</span>
      </div>
    </div>
    
    <div>
      <div class="input-label">New Password:</div>
      <input class='input' type="password" name='newPassword' placeholder="New Password"
             ng-model="update.newPassword" required/>
      <div class='error' ng-if="update.form.$submitted && update.form.newPassword.$invalid"
           ng-messages="update.form.newPassword.$error">
        <span ng-message when="required">Insert new password</span>
      </div>
    </div>
    
    <div>
      <div class="input-label">Confirm Password:</div>
      <div ng-class="{'has-error':!update.form.confirmPassword.$valid}">
        <input class='input' type="password" name='confirmPassword' placeholder="Confirm Password"
               ng-model="update.confirmPassword" required password-confirmation
               match-target="update.newPassword"/>
        <div class='error' ng-if="update.form.$submitted && update.form.confirmPassword.$invalid"
             ng-messages="update.form.confirmPassword.$error">
          <div ng-message when="required">Insert confirmation password</div>
          <div ng-message when="match">Password confirmation must match password</div>
        </div>
      </div>
    </div>
    <input class="btn btn-default btn-auth" type="submit" value="Change password"/>
    
    <div>{{update.updateMessage}}</div>
  
  </form>
</div>