<div class="content-child">
    <h1 class="title">Change your password</h1>

    <form name='update.form' ng-submit="update.updatePassword()" novalidate>
        Old Password:
        </br>
        <input class='input' type="password" name='oldPassword' placeholder="Old Password"
               ng-model="update.oldPassword" required/>
        </br>
        <span ng-show="update.form.$submitted || update.form.oldPassword.$touched">
            <span class='error' ng-show="update.form.oldPassword.$error.required">Insert old password</span>
        </span>
        </br>
        New Password:
        </br>
        <input class='input' type="password" name='newPassword' placeholder="New Password"
               ng-model="update.newPassword" required/>
        </br>
        <span ng-show="update.form.$submitted || update.form.newPassword.$touched">
            <span class='error' ng-show="update.form.newPassword.$error.required">Insert new password</span>
        </span>
        </br>
        Confirm Password:
        </br>
        <div ng-class="{'has-error':!update.form.confirmPassword.$valid}">
        <input class='input' type="password" name='confirmPassword' placeholder="Confirm Password"
               ng-model="update.confirmPassword" required password-confirmation match-target="update.newPassword"/>
        </br>
        <div ng-show="update.form.$submitted || update.form.confirmPassword.$touched">
            <div class="error" ng-show="update.form.confirmPassword.$error.required">Insert confirmation password</div>
            <div class="error" ng-show="update.form.confirmPassword.$error.match">Password confirmation must match
                password
            </div>
        </div>
        </div>
        </br>
        <input class="btn btn-default" type="submit" value="Change password"/>
        </br>
        <span>{{update.updateMessage}}</span>

    </form>
</div>