.button {
  margin-top: 10px;
  margin-right: 200px;
  position: absolute;
  top: 0;
  right: 0;
}

.btn-auth {
  margin-top: 20px;
}

.btn-ship {
  margin-left: 1px;
}

%button {
  position: relative;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  text-align: center;
  @include user-select(none);
}