.table {
  border: 1px solid black;
  margin-top: 20px;
  width: 100%;
  th {
    background-color: #292c2f;
    color: #337ab7;
    font-size: 17px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
  
  ///Modifier///
  &-button {
    text-align: center;
  }
  
  ///Modifier///
  &-addAllButton {
    margin-top: 10px;
  }
  
}