.table {
  margin-top: 20px;
  width: 100%;
  th {
    color: rgba(#1E1E1E, 0.6);
    font-size: 17px;
  }
  tr:nth-child(even) {
    background-color: #F7F8F9;
  }
  
  ///Modifier///
  &-button {
    text-align: center;
    
    &-color{
      color: black;
    }
  }
  
  ///Modifier///
  &-addAllButton {
    margin-top: 10px;
  }
}
