.checkOut {
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  
  &-title {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  &-form {
    
    &-label {
      font-size: 13px;
      margin-top: 20px;
    }
    
    &-line {
      margin-top: 30px;
      border-bottom: 0.5px solid #D8D8D8;
    }
    &-button {
      float: left;
      margin-top: 20px;
      width: 280px;
      height: 40px;
    }
    
    &-input {
      width: 280px !important;
    }
  }
  
  &-summaryTab {
    margin-top: 0;
    margin-right: 80px;
    height: 326px !important;
  }
}
