<div>
    <h4 ng-value="addEdit.book.id ? addEdit.message='Update Book:' : addEdit.message='Add Book:'">{{addEdit.message}}</h4>
    <form name='addEdit.addBook' ng-submit="addEdit.submit()" novalidate>
        <input class='input' type="text" placeholder="Name" ng-model="addEdit.book.name" name='uName' required />
        <span ng-show="addEdit.addBook.$submitted || addEdit.addBook.uName.$touched">
            <span class = "error" ng-show="addEdit.addBook.uName.$error.required">Insert Book Name</span>
        </span>
        </br>
        <input class='input' type="text" placeholder="Author" ng-model="addEdit.book.author" name='aName' required/>
        <span ng-show="addEdit.addBook.$submitted || addEdit.addBook.aName.$touched">
            <span class = "error" ng-show="addEdit.addBook.aName.$error.required">Insert Author Name</span>
        </span>
        </br>
        <input class='input' type="text" placeholder="Category" ng-model="addEdit.book.category" name='cName' required/>
        <span ng-show="addEdit.addBook.$submitted || addEdit.addBook.cName.$touched">
            <span class = "error" ng-show="addEdit.addBook.cName.$error.required">Insert Category</span>
        </span>
        </br>
        <input class='input' type="text" placeholder="Publisher" ng-model="addEdit.book.publisher" name='pbName' required/>
        <span ng-show="addEdit.addBook.$submitted || addEdit.addBook.pbName.$touched">
            <span class = "error" ng-show="addEdit.addBook.pbName.$error.required">Insert Publisher</span>
        </span>
        </br>
        <input class='input' type="text" placeholder="ISBN" ng-model="addEdit.book.isbn" name='iName' required/>
        <span ng-show="addEdit.addBook.$submitted || addEdit.addBook.iName.$touched">
            <span class = "error" ng-show="addEdit.addBook.iName.$error.required">Insert ISBN</span>
        </span>
        </br>
        <input class='input' type="text" placeholder="Price" ng-model="addEdit.book.price" name='pName' required/>
        <span ng-show="addEdit.addBook.$submitted || addEdit.addBook.pName.$touched">
            <span class = "error" ng-show="addEdit.addBook.pName.$error.required">Insert Price</span>
        </span>
        </br>
        <input class='input' type="date" placeholder="Date" ng-model="addEdit.book.releaseDate" />
        </br>
        <input type="submit" ng-value="addEdit.book.id ? 'Save' : 'Create'" />
        <span class = "error" ng-value="addEdit.book.id ? addEdit.editMessage = addEdit.updateMessage  : addEdit.editMessage = addEdit.createdMessage ">{{addEdit.editMessage}} </span>
    </form>
</div>

