<div class="row books-sidebar-container">
  <div sidebar
       categories="bookList.categories"
       publishers="bookList.publishers"
       authors="bookList.authors">
  </div>
  
  <div>
    <ul class='bookList'>
      <li class='bookList-item' ng-repeat="book in bookList.bookList">
        <a ui-sref="details({id: book.id})">
          <img class="bookList-item-image" ng-src="{{book.picture}}" alt=""/>
          <div class="bookList-item-description">
            <p class="bookList-item-title">{{book.name}}</p>
            <p class="bookList-item-author">by {{book.author}}</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>


<div class="pagination-tab">
  <div pagination
       total-results="bookList.pagination.totalResults"
       limit-per-page="bookList.pagination.limitPerPage"
       current-page="bookList.pagination.currentPage"
       max-button-number="bookList.pagination.maxButtonNumber"
       state="bookList.pagination.state">
  </div>
</div>
