<div class="book">
    <span class="book-name">{{details.book.name}}</span>
    </br>
    <span class="book-author">by {{details.book.author}}</span>
    </br>

    <img class="book-item-thumbnail" ng-src="{{details.book.picture}}" alt="" class="img-responsive"/>
    <div  class="book-item">
        </br>
        <span><span class="book-item-details">Release Date:</span>{{details.book.releaseDate | date : 'yyyy-MM-dd'}}</span>
        </br>
        <span><span class="book-item-details">Genre: </span>{{details.book.category}}</span>
        </br>
        <span><span class="book-item-details">Publisher: </span>{{details.book.publisher}}</span>
        </br>
        <span><span class="book-item-details">Pages: </span>{{details.book.pages}}</span>
        </br>
        <span><span class="book-item-details">ISBN: </span>{{details.book.isbn}}</span>
        </br>
        <span><span class="book-item-details">Price: </span>{{details.book.price}}$</span>
        </br>
        <span class="book-item-description"><span class="book-item-details">Description: </span>{{details.book.description}}</span>
    </div>
</div>
