<div>
    <form name='findGoogle.findBook' ng-submit="findGoogle.submit()">
        <input class='inputd' type="search" name="find" placeholder="Keyword" ng-model='findGoogle.toFind' />
        <input type="submit" value='Search'>
    </form>
    <table>
        <thead style="font-size: 20px">
            <tr>
                <th>Book---</th>
                <th>Author---</th>
                <th>Category---</th>
                <th>Release Date---</th>
                <th>Description--</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody style="font-size: 14px">
            <tr ng-repeat="element in findGoogle.googleList">
                <button ng-show='findGoogle.googleList' ng-click='findGoogle.addAllBooks(findGoogle.googleList)'>ADD ALL BOOKS</button>
                <td>{{element.name}}</td>
                <td>{{element.author}}</td>
                <td>{{element.category}}</td>
                <td>{{element.releaseDate | date : 'yyyy-MM-dd'}}</td>
                <td>{{element.description | shortenText }}</td>
                <td>{{element.price}}$</td>
                <td>
                    <button ng-click='findGoogle.addBook(element)'>ADD BOOK</button>
                </td>
                <td>
                </td>
            </tr>
            <span ng-show="findGoogle.showMessage " style="font-size: 14px; color: red">{{findGoogle.addMessage}}</span>
        </tbody>
        <table>
</div>
