<div class="row">
    <div class="col-lg-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Books" ng-model='findGoogle.toFind'>
            <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="findGoogle.submit()">Search</button>
      </span>
        </div>
    </div>
</div>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Category</th>
            <th>Release Date</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Price</th>
            <th class="table-button">Add Book</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="element in findGoogle.googleList">
            <button class="btn btn-default table-addAllButton" ng-show='findGoogle.googleList' ng-click='findGoogle.addAllBooks(findGoogle.googleList)'>Add All Books</button>
            <td>{{element.name}}</td>
            <td>{{element.author}}</td>
            <td>{{element.category}}</td>
            <td>{{element.releaseDate | date : 'yyyy-MM-dd'}}</td>
            <td>{{element.publisher}}</td>
            <td>{{element.isbn}}</td>
            <td>{{element.price}}$</td>
            <td class="table-button">
                <a href="#" ng-click='findGoogle.addBook(element)'><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        </br>
        <span class="error" ng-show="findGoogle.showMessage ">{{findGoogle.addMessage}}</span>
        </tbody>
    </table>
</div>
