<div class="active-filters">Applied filters:
    <span ng-repeat="(filterName,filterValue) in sidebar.filters" ng-if="filterValue">
        <span ng-if="filterName == 'category' || filterName == 'publisher' || filterName == 'author'">
        <a href="#" ng-click="sidebar.removeFilter(filterName)">[x]</a>{{filterValue}}
            </span>
    </span>
</div>
<div class="sidenav">
    <div class="title">Filters</div>
    </br>
    <div class="filter-block">
        <span>Category:</span>
        <div ng-repeat="element in sidebar.categories">
            <input type="checkbox" ui-sref="{category: element.category}">
            {{element.category}}
        </div>
    </div>
    </br>
    <div class="filter-block">
        <span>Author:</span>
        <div ng-repeat="element in sidebar.authors">
            <input type="checkbox" ui-sref="{author: element.author}">
            {{element.author}}
        </div>
    </div>
    </br>
    <div class="filter-block">
        <span>Publisher:</span>
        <div ng-repeat="element in sidebar.publishers" ng-if="element.publisher">
            <input type="checkbox" ui-sref="{publisher: element.publisher}">
            {{element.publisher}}
        </div>
    </div>


</div>