<header class="header u-clearfix">
  <div class="header-toolBox u-clearfix">
    <div show-only-for-admins class="header-toolBox--admin">
      <div class="header-toolBox--admin-title">Admin:</div>
      <div class="header-toolBox--admin-icon"><span class="icon-book-open"> </span></div>
      <button class="header-toolBox--admin-action" ui-sref='list'>Manage Books</button>
      <div class="header-toolBox--admin-icon"><span class="icon-plus-circled"> </span></div>
      <button class="header-toolBox--admin-action" ui-sref='addEdit'>Add Book</button>
      <div class="header-toolBox--admin-icon"><span class="icon-search"> </span></div>
      <button class="header-toolBox--admin-action" ui-sref='findGoogle'>Search Books (Google)</button>
    </div>
    <div class="header-toolBox--user">
      <div class="header-toolBox--user-cart-box" ui-sref='cart'>
        <div class="header-toolBox--user-mycart">MY CART ({{main.numberOfItems}})</div>
      </div>
      <div class="header-toolBox--user-log-box">
        <div class="header-toolBox--user-log">
          <span class="icon-user header-toolBox--user-log-icon"></span>
          <span ng-if='main.isLoggedIn'>
              <button ng-click='main.logout()' class="header-toolBox--user-log-message">LOGOUT</button>
            </span>
          <span ng-if='!main.isLoggedIn'>
              <button ui-sref='login' class="header-toolBox--user-log-message">LOGIN</button>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div class="header-content">
    <div class="header-logo" ui-sref="home" ui-sref-opts="{inherit: false}" href="#">BOOKSHOP</div>
    <div class="header-info">
      <p>FEATURED BESTSELLERS CATEGORIES TOP-AUTHORS</p>
    </div>
    
    <form name='main.form' class="header-search" ng-submit="main.submitSearch()">
      <input type="text" class="header-search-field" placeholder="Search book, author, etc" ng-model="main.toFind"/>
      <label for="mySubmit"><i class="icon-search header-search-button"></i></label>
      <input id="mySubmit" type="submit" value="Go" class="hidden"/>
    </form>
  </div>
  
  <div class="header-bar">
    <div class="header-bar-message">Books</div>
  </div>
</header>

<div class="content">
  <ui-view></ui-view>
</div>

<div class="subscribe">
  <div class="subscribe-form">
    <div class="subscribe-message">
      The Latest From BookShop
    </div>
    <form name="main.subscribe" ng-submit="main.subscribeEmail()">
      <input class="subscribe-input" type="email" name='input' placeholder="Your email address"
             ng-model="main.newsletterEmail" required/>
      <span class='error' ng-if="main.subscribe.$submitted && main.subscribe.input.$invalid"
            ng-messages="main.subscribe.input.$error">
        <span ng-message when="required">Insert email</span>
        <span ng-message when="email">Not valid email!</span>
      </span>
      <button type="submit" class="subscribe-input-button">JOIN NOW</button>
    </form>
  </div>
</div>
<footer class="footer">
  <div class="footer-block">
    <div class="footer-block-title">COMPANY</div>
    <div class="footer-block-info">
      <div>About Us</div>
      <div>Work Here</div>
      <div>Team</div>
      <div>Happenings</div>
      <div>Store/Dealer Locator</div>
    </div>
  </div>
  
  <div class="footer-block">
    <div class="footer-block-title">SERVICE</div>
    <div class="footer-block-info">
      <div>Contact Us</div>
      <div>FAQs</div>
      <div>Warranties</div>
      <div>Repair Center</div>
    </div>
  </div>
  
  <div class="footer-block">
    <div class="footer-block-title">ORDERS & RETURNS</div>
    <div class="footer-block-info">
      <div>Order Status</div>
      <div>Shipping Policy</div>
      <div>Return Policy</div>
      <div>Payments</div>
    </div>
  </div>
  
  <div class="footer-block">
    <div class="footer-block-title">LEGAL</div>
    <div class="footer-block-info">
      <div>Privacy Policy</div>
      <div>Terms and Conditions</div>
      <div>Use of Cookies</div>
      <div>Legal Notice</div>
    </div>
  </div>

</footer>
