.error {
    font-size: 12px;
    color: red;
}

.inputd {
    width: 220px;
    padding: 5px 14px;
    margin: 8px 0;
    box-sizing: border-box;
}
.title{
    font-size: 30px;
    margin-bottom: 30px;
}
//input:invalid {
//     border: 1px solid red;
// }
