.subscribe {
  background-color: #F7F8F9;
  height: 94px;
  width: 100%;
  
  &-form {
    padding-top: 25px;
    width: 654px;
    height: 40px;
    margin: 0 auto;
  }
  
  &-message {
    padding-right: 10px;
    padding-top: 10px;
    width: 221px;
    height: 22px;
    font-size: 18px;
    float: left;
    color: rgba(#1E1E1E, 1);
  }
  
  &-input {
    margin-top: -10px;
    width: 343px;
    height: 40px;
    
    &-button {
      background-color: #1E1E1E !important;
      padding: 12.5px;
      margin-left: -93px;
      font-size: 14px;
      height: 40px;
      width: 88px;
      color: rgba(#FFFFFF, 1);
      font-weight: 400;
      cursor: pointer;
      @extend %button;
    }
    
    &-button:hover {
      opacity: 0.8;
    }
  }
  
}

.footer {
  height: 270px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  
  &-block {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    
    &-title {
      font-size: 14px;
      color: rgba(#1E1E1E, 0.4);
      text-align: left;
      letter-spacing: -0.15px;
    }
    
    &-info {
      padding-top: 35px;
      line-height: 30px;
      font-size: 13px;
      cursor: pointer;
    }
  }
  
}

@media (max-width: 880px) {
  .footer {
    font-weight: bold;
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}
