.header {
  width: 100%;
  height: 113px;
  
  &-toolBox {
    width: 100%;
    height: 40px;
    background-color: #1E1E1E;
    
    &--admin {
      padding-top: 12px;
      float: left;
      
      &-title {
        font-size: 13px;
        color: rgba(#FFFFFF, 0.4);
        padding-left: 15px;
        float: left;
      }
      
      &-icon {
        padding-left: 10px;
        color: rgba(#FFFFFF, 0.4);
        float: left;
      }
      
      &-action {
        background-color: #1E1E1E;
        padding-left: 5px !important;
        font-size: 13px;
        color: rgba(#FFFFFF, 1);
        cursor: pointer;
        float: left;
        @extend %button;
      }
      &-action:hover {
        opacity: 0.8;
      }
    }
    
    &--user {
      float: right;
      
      &-cart-box {
        width: 126px;
        height: 40px;
        background-color: rgba(#2AD9C2, 1);
        float: right;
        cursor: pointer;
      }
      
      &-mycart {
        padding-top: 12px;
        color: rgba(#FFFFFF, 1);
        text-align: center;
      }
      &-cart-box:hover {
        opacity: 0.9;
      }
      
      &-log-box {
        width: 230px;
        height: 40px;
        border-color: rgba(#FFFFFF, 1);;
        border-left: solid;
      }
      
      &-log {
        padding-top: 12px;
        text-align: center;
        
        &-icon {
          width: 14px;
          height: 15px;
          padding-left: 22px;
          color: rgba(#FFFFFF, 1);
          float: left;
        }
        
        &-message {
          color: rgba(#FFFFFF, 1);
          font-size: 12px;
          cursor: pointer;
          @extend %button;
        }
        &-message:hover {
          opacity: 0.8;
        }
      }
      
    }
  }
  &-content {
    
    max-width: 1200px;
    margin: 0 auto;
  }
  &-logo {
    padding-left: 100px;
    padding-top: 38px;
    font-size: 32px;
    color: rgba(#1E1E1E, 1);
    font-weight: 700;
    float: left;
    cursor: pointer;
  }
  
  &-info {
    padding-left: 80px;
    padding-top: 53px;
    line-height: 25px;
    word-spacing: 30px;
    font-weight: 400;
    width: 570px;
    float: left;
  }
  
  &-search {
    padding-top: 46px;
    
    &-field {
      width: 230px;
      height: 34px;
    }
    
    &-button {
      padding-top: 30px;
      width: 150px;
      height: 15px;
      margin-left: -30px;
    }
  }
  
  &-bar {
    margin-top: 25px;
    height: 41px;
    width: 100%;
    background-color: #F7F8F9;
    
    &-message {
      text-align: center;
      padding-top: 12px;
    }
  }
  
}

/* Making the header responsive */

@media all and (max-width: 850px) {
  .header {
    padding: 25px;
    height: 130px;
    text-align: center;
    
    &-logo {
      float: none;
      margin: -8px 0 2px;
      text-align: center;
      font-size: 24px;
      line-height: 1;
    }
    
    &-navigation {
      margin-top: 10px;
      float: none;
    }
    
    &-account {
      margin-top: -8px;
      float: none;
    }
  }
}

body {
  margin: 0;
  padding: 0;
}
